* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* border: rebeccapurple 2px solid; */
}

body {
  margin: 0;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 17px;
  color: #333;
  line-height: 1.6;
  background: #ddd;
}

p {
  text-align: center;
}

.p-justify {
  text-align: initial;
}

a {
  text-decoration: none !important;
  color: #333;
}

.message-wraper {
  margin-bottom: 1rem !important;
}

.messages {
  width: 80%;
  padding: 0.6rem 1.5rem;
  border: 1px solid #777;
  border-radius: 10px;
  max-width: 450px;
  text-align: center;
  font-size: 1rem;
}

.messages-success {
  background-color: #d4edda;
  color: #155724;
}

.messages-error {
  background-color: #f8d7da;
  color: #721c24;
}

.messages-info {
  background-color: #d1ecf1;
  color: #0c5460;
}

/* Navigation */
.nav-button {
  position: absolute;
  top: 15px;
  right: 30px;
  z-index: 2;

  display: none;
}

.nav-button:hover {
  cursor: pointer;
}

.navigation {
  position: fixed;
  width: 100%;
  margin: auto;
  z-index: 2;

  background-color: none;

  background-color: rgba(240, 240, 240, 0.8);

  padding-left: 4rem;
  padding-right: 4rem;

  transition: 500ms;
}

.navigation-scroll {
  transition: 500ms;
  background-color: rgba(240, 240, 240, 0.7);
}

.logo {
  /* color: #333; */
  border: none;
  /* font-size: 17px; */
  background: inherit;
  margin: 0;
  padding: 0;
}

.img-logo {
  height: 10vh;
  width: auto;
  margin: 10px;
}

.logo:hover {
  cursor: pointer;
}

.main-nav {
  display: flex;
  align-items: center;
  /* This changes logo position */
  justify-content: center;
}

/* Landing page */
.showcase::after {
  content: "";
  height: 100vh;
  width: 100%;
  display: block;

  background-image: url("background-image.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  /* filter: blur(0.5px); */
  opacity: 0.6;
}

.content {
  /* border: red 2px solid; */
  text-align: justify;
  width: 100vw;

  position: absolute;
  z-index: 1;
  top: 18vh;
  display: grid;
}

.button-icon {
  width: 4rem;
  padding-bottom: 5px;
}

.button {
  border-radius: 10px;
  text-align: center;
  width: 17rem;
  transition-duration: 0.4s;
  font-size: 1.2rem;
  text-decoration: none;
  font-weight: 500;
  color: #000;
  padding: 12px 20px;
  background-color: #dd585c;

  max-width: 80%;

  margin: auto;
  margin-bottom: 5vh;
}

.button:first-child {
  margin-top: 10vh;
}

.button:hover {
  background-color: #eb6b6f;

  cursor: pointer;
}

.option-buttons {
  display: grid;
}

.option-button {
  transition-duration: 0.4s;
  border-radius: 5px;
  margin: 5px 0;
  background-color: #333;
  color: #eee;
  padding: 0.8rem;
  width: 10rem;
}

.margin-top {
  margin-top: 20px !important;
}

.option-button:hover {
  background-color: #666;

  cursor: pointer;
}

.container {
  text-align: center;
  width: 87vw;
  max-height: 78vh;
  margin: auto;
  padding: 1rem 1rem;

  border-radius: 10px;
  overflow-y: scroll;
}

.container-black {
  background-color: rgba(0, 0, 0, 0.7);
  max-width: 1000px;
}

.container::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

h1 {
  color: #fff;
}

.grid-2 {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(2, 1fr);
}

.grid-3 {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
}

.center {
  text-align: center;
  margin: auto;
}

/* Members */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  background-color: #eee;
  display: flex;
  margin: auto;
  margin-bottom: 1rem;
  border-radius: 10px;

  max-width: 500px;
}

.card-text {
  padding: 2px 16px;
  text-align: left;
  color: #333;
}

.card-image {
  height: 7rem;
  width: auto;
  border-radius: 10px 0 0 10px;
}

.member-name {
  float: left;
  font-size: 1rem;
}

.member-status {
  font-size: 1rem;
  color: #555;
}

/* Routine */
.return {
  padding: 3px;
  background-color: #ddd;
  margin-bottom: 1rem;
  max-width: 500px;
  border-radius: 10px;
  height: 100%;
  font-weight: bold;
}

.return-icon {
  height: 1.5em;
  float: left;
}

.card-routine {
  background-color: #eee;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  margin: auto;

  border-radius: 10px;
  max-width: 500px;
}

.card-no-shadow {
  box-shadow: none;
  margin-bottom: 0;
}

.card-image-routine {
  border-radius: 10px 0 0 0;
}

.day-routine {
  font-size: 1rem;
  line-height: 2.5rem;
  background-color: #eee;
}

.day-routine:last-child {
  border-radius: 0 0 10px 10px;
}

.rest-routine {
  line-height: 2rem;
  background-color: #ddd;
}

.exercise-routine {
  font-weight: bold;
}

/* Classes */
.class-card {
  display: block;
}

.class-image {
  border-radius: 10px 10px 0 0;
  width: 100%;
  height: auto;
}

.class-description {
  margin: 0;
}

.class-date {
  margin: 0;
  padding: 0;
  color: #777;
  font-size: 0.9rem;
  font-weight: 100;
}

.class-button {
  padding: 0.5rem;
  width: 50%;
  border: none;
  margin: 1rem;
  font-size: 1rem;
  color: #eee;
  font-weight: bold;
  margin-top: 1rem;
}

.button-link {
  color: #eee;
}

/* Class */
.instructor-image {
  border-radius: 0;
}

.class-schedule {
  padding: 0.7rem 0;
}

.member-list {
  padding: 0.5rem 0;
  font-size: 1rem;
}

.member-name-list {
  background-color: #ddd;
}

.enroll-div {
  padding: 1rem;
}

.enroll-input {
  border: #aaa solid 1px;
  border-radius: 10px;
  margin-top: 1rem;
  height: 2rem;
  font-size: 1rem;
  padding: 0 5px;
}

.enroll-button {
  margin-bottom: 0rem;
}

/* Exercises */
.exercise-card {
  display: block;
  background-color: white;
}

.exercise-text {
  text-align: center;
  width: 100%;
}

.exercise-image {
  height: 10rem;
  padding-top: 5px;
}

.exercise-title {
  font-size: 1.2rem;
}

.exercise-instructions {
  padding: 0.5rem 1rem;
}

.division {
  height: 1rem;
  /* border: 10px solid red; */
}

/* Register */
legend {
  color: #eee;
  font-size: 1.5rem;
  padding: 0 1rem;
}

.form-group {
  margin: auto;
  max-width: 450px;
  padding: 1rem;
  color: #eee;
  display: grid;
}

.form-control-label {
  font-size: 1.2rem;
}

.form-control {
  border: #aaa solid 1px;
  border-radius: 10px;
  margin-top: 1rem;
  height: 2rem;
  font-size: 1rem;
  padding: 0 5px;
}

.register-button {
  margin: auto;
  /* color: #eee; */
  border: none;
  font-weight: bold;
  margin-top: 2rem;
}
