* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* border: rebeccapurple 2px solid; */
}

body {
  margin: 0;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 17px;
  color: #333;
  line-height: 1.6;
  background: #ddd;
}

a {
  text-decoration: none !important;
}

/* Navigation */
.nav-button {
  position: absolute;
  top: 15px;
  right: 30px;
  z-index: 2;

  display: none;
}

.nav-button:hover {
  cursor: pointer;
}

.navigation {
  position: fixed;
  width: 100%;
  margin: auto;
  z-index: 2;

  background-color: none;

  background-color: rgba(240, 240, 240, 0.8);

  padding-left: 4rem;
  padding-right: 4rem;

  transition: 500ms;
}

.navigation-scroll {
  transition: 500ms;
  background-color: rgba(240, 240, 240, 0.7);
}

.logo {
  /* color: #333; */
  border: none;
  /* font-size: 17px; */
  background: inherit;
  margin: 0;
  padding: 0;
}

.img-logo {
  height: 10vh;
  width: auto;
  margin: 10px;
}

.logo:hover {
  cursor: pointer;
}

.main-nav {
  display: flex;
  align-items: center;
  /* This changes logo position */
  justify-content: center;
}

/* Landing page */
.showcase::after {
  content: "";
  height: 100vh;
  width: 100%;
  display: block;

  background-image: url("background-image.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  /* filter: blur(0.5px); */
  opacity: 0.6;
}

.content {
  /* border: red 2px solid; */
  text-align: justify;
  width: 100vw;

  position: absolute;
  z-index: 1;
  top: 18vh;
  display: grid;
}

.button-icon {
  width: 4rem;
  padding-bottom: 5px;
}

.button {
  border-radius: 10px;
  text-align: center;
  width: 17rem;
  transition-duration: 0.4s;
  font-size: 1.2rem;
  text-decoration: none;
  font-weight: 500;
  color: #000;
  padding: 12px 20px;
  background-color: #ca4146;

  margin: auto;
  margin-bottom: 5vh;
}

.button:first-child {
  margin-top: 10vh;
}

.button:hover {
  background-color: #db6165;

  cursor: pointer;
}

.container {
  text-align: center;
  /* max-width: 150vh; */
  width: 85vw;
  max-height: 78vh;
  /* height: fit-content; */
  margin: auto;
  /* margin-bottom: 0; */
  /* overflow: hidden; */
  padding: 1rem 1rem;
  /* background-color: rgba(0, 0, 0, 0.7); */

  border-radius: 10px;
  overflow-y: scroll;
}

.container::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

h1 {
  color: #fff;
}

.grid-2 {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(2, 1fr);
}

.grid-3 {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
}

.center {
  text-align: center;
  margin: auto;
}

/* Members */
.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  background-color: #eee;
  display: flex;
  margin-bottom: 1rem;
  border-radius: 10px;
}

/* Add some padding inside the card container */
.card-text {
  padding: 2px 16px;
  text-align: left;
  color: #333;
}

.card-image {
  height: 7rem;
  width: auto;
  border-radius: 10px 0 0 10px;
}

.member-name {
  float: left;
}

.member-status {
  /* padding-top: 4rem; */
  color: #555;
  /* text-decoration: none; */
}
