{% extends "layout.html" %}

{% block content %}
  <div class="container">
    {% for class in classes %}
      <div class="card class-card">
        <img src="{{ url_for('static', filename=class.image)}}" class="card-image class-image" alt="Avatar">
        <div class="card-text">
          <p><b class="member-name p-justify">{{class.name.capitalize()}}</b></p>
          <br />
          <p class="member-status class-description p-justify">{{class.description}}</p>
          <p class="class-date p-justify">Every {{class.day}} at {{class.time}}</p>
        </div>
        <button class="button class-button">
          <a href="{{ url_for('class_page', class_id=class.id)}}" class="button-link">
            Enroll now »
          </a>
        </button>
      </div>
    {% endfor %}
  </div>
{% endblock content %}
