{% extends "layout.html" %}

{% block content %}
    <a href="{{ url_for('members')}}" class="button">
      <img src="{{ url_for('static', filename='workout.svg')}}" type="image/svg+xml" class="button-icon" />
      <br>
      Check your routine <span>»</span>
    </a>
    <a href="{{ url_for('classes')}}" class="button">
      <img src="{{ url_for('static', filename='yoga-pose.svg')}}" type="image/svg+xml" class="button-icon" />
      <br>
      Enroll to classes <span>»</span>
    </a>

    <div class="center">
      {% if current_user.is_authenticated %}
        <a href="{{ url_for('register')}}" class="option-button">Register Member</a>
        <a href="{{ url_for('logout')}}" class="option-button">Logout</a>
      {% else %}
        <a href="{{ url_for('login')}}" class="option-button">Login</a>
      {% endif %}
    </div>
{% endblock content %}

  