{% extends "layout.html" %}

{% block content %}
    <div class="container">
        {% for member in members %}
            <a href="routines/{{ member.id }}" class="link">
                <div class="card">
                    <img src="{{ member.picture }}" class="card-image" alt="Avatar">
                    <div class="card-text">
                    <p><b class="member-name">{{member.name}}</b></p>
                    <br />
                    {% if member.is_premium%}
                        <p class="member-status">Premium Member</p>
                    {% else %}
                        <p class="member-status">Regular Member</p>
                    {% endif %}
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
{% endblock content %}
