{% extends "layout.html" %}

{% block content %}
    <div class="container">
        {% for member in members %}
        <!-- <div class="grid-2"> -->
        <a href="routine/{{ member[0].id }}" class="link">
            <div class="card">
                <img src="{{ member[0].picture }}" class="card-image" alt="Avatar">
                <div class="card-text">
                <p><b class="member-name">{{member[0].name}}</b></p>
                <br />
                {% if member[0].is_premium%}
                    <p class="member-status">Premium Member</p>
                {% else %}
                    <p class="member-status">Regular Member</p>
                {% endif %}
                </div>
            </div>
        </a>
        <a href="routine/{{ member[1].id }}" class="link">
            <div class="card">
                <img src="{{ member[1].picture }}" class="card-image" alt="Avatar">
                <div class="card-text">
                <p><b class="member-name">{{member[1].name}}</b></p>
                <br />
                {% if member[1].is_premium%}
                    <p class="member-status">Premium Member</p>
                {% else %}
                    <p class="member-status">Regular Member</p>
                {% endif %}
                </div>
            </div>
        </a>
      <!-- </div> -->
        {% endfor %}
    </div>
{% endblock content %}
