{% extends "layout.html" %}

{% block content %}
  <div class="container">
    <div class="card-routine">
      <div class="card card-no-shadow">
        <img src="{{ member.picture }}" class="card-image card-image-routine" alt="Avatar">
        <div class="card-text">
        <p><b class="member-name">{{member.name}}</b></p>
        <br />
        {% if member.is_premium%}
            <p class="member-status">Premium Member</p>
        {% else %}
            <p class="member-status">Regular Member</p>
        {% endif %}
        </div>
      </div>
      <div>    
        {% for day, workout in routine.items() %}
          <hr>
          <p class="day-routine">{{day.capitalize()}}</p>
          {% if workout == None %}
            <hr>
            <p class="exercise-routine day-routine">Rest</p>
          {% else %}
            {% for exercise in workout %}
              <hr>
              {% if exercise.type == 'strenght' %}
                <div class="exercise-routine day-routine">
                  {{exercise.name}} - {{exercise.sets}}x{{exercise.repetitions}} - {{exercise.weight}}kg     
                </div>
              {% else %}
                <p class="exercise-routine day-routine">
                  {{exercise.name}} - {{exercise.duration}} minutes - {{exercise.intensity}}     
                </p>
              {% endif %}
            {% endfor %}
          {% endif %}
        {% endfor %}
      </div>
        </div>
    </div>
{% endblock content %}
