{% extends "layout.html" %}

{% block content %}
  <div class="container">
    <a href="{{ url_for('members')}}" class="return-link">
      <div class="return center">
        <img src="{{ url_for('static', filename='left-arrow.svg')}}" type="image/svg+xml" class="return-icon" />
        Return to members
      </div>
    </a>
    <div class="card-routine">
      <div class="card card-no-shadow">
        <img src="{{ member.picture }}" class="card-image card-image-routine" alt="Avatar">
        <div class="card-text">
        <p><b class="member-name">{{member.name}}</b></p>
        <br />
        {% if member.is_premium%}
            <p class="member-status p-justify">Premium Member</p>
        {% else %}
            <p class="member-status p-justify">Regular Member</p>
        {% endif %}
        </div>
      </div>
      <hr>

      <div class="card card-no-shadow">
        <img src="{{ trainer.picture }}" class="card-image card-image-routine" alt="Avatar">
        <div class="card-text">
        <p><b class="member-name">{{trainer.name}}</b></p>
        <br />
            <p class="member-status p-justify">Personal Trainer</p>
        </div>
      </div>
      <div>    
        {% for day, duration in routine.items() %}
          <hr>
          {% if duration == None %}
            <p class="day-routine rest-routine">{{day.capitalize()}} - Rest</p>
          {% else %}
            <a href="{{ url_for('workout', member_id=member.id, day=day) }}">
              <p class="day-routine exercise-routine">
                {{day.capitalize()}} - {{duration}} minutes <span>»</span>
              </p>
            </a>
          {% endif %}
        {% endfor %}
      </div>
    </div>

    <div class="center option-buttons margin-top">
      {% if current_user.is_authenticated %}
        <a href="{{ url_for('add_exercise', member_id=member.id)}}" class="center option-button">Add Workout</a>
      {% endif %}
    </div>
  </div>
{% endblock content %}
