{% extends "layout.html" %}

{% block content %}
  <div class="container">
    <a href="{{ url_for('member_workout', member_id=member_id) }}" class="return-link">
      <div class="return center">
        <img src="{{ url_for('static', filename='left-arrow.svg')}}" type="image/svg+xml" class="return-icon" />
        Return to member
      </div>
    </a>

    {% for exercise in exercises %}
      <div class="card exercise-card exercise-text">
        {% if exercise.picture %}
          <img src="{{ exercise.picture }}" class="card-image exercise-image" alt="Avatar">
        {% endif %}
        <div class="card-text">
        <p><b class="member-name exercise-text exercise-title">{{exercise.name.capitalize()}}</b></p>
        <br />
        <p class="member-status class-description exercise-text">{{exercise.description|safe}}</p>
        <div class="division"></div>
        <hr />
      </div>
      {% if exercise.type == 'strenght' %}
        <p class="exercise-instructions">
          {{exercise.sets}} sets of {{exercise.repetitions}} repetitions with {{exercise.weight}}Kg
        </p>
      {% else %}
        <p class="exercise-instructions">
          Perform the exercise for {{exercise.duration}} minutes with {{exercise.intensity}} levels of intensity
        </p>
      {% endif %}
      {% if exercise.equipment != "No equipment" %}
        <hr />
        <p class="exercise-instructions exercise-equipment">
          This exercise must be performed on {{ exercise.equipment }}
        </p>
      {% endif %}
      </div>  
    {% endfor %}
  </div>
{% endblock content %}
